<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/delete">delete User</a>
    </div>
    <div class="form-add-new">
        <form action="/delete-user" method="post">
            <fieldset>
                <legend>Form add new User</legend>
                <div class="input-group d-none">
                    <label for="">id</label>
                    <input type="text" name="id" value="<%= userEdit.id %>
                    ">
                </div>
                <div class="input-group">
                    <label for="">Are you sure to proceed deleting user with Email: </label>
                    <input type="text" name="email" value="<%= userEdit.email %>">
                </div>
                <div>
                    <button>Confirm delete</button>
                </div>
            </fieldset>
        </form>
    </div>

</body>

</html>